.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.main>h2 {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.main>p {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.main>a {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
}

.main>a:active {
  color: black;
  background-color: #fff;
}